@model Events.Web.Models.EventViewModel



<div class="col-md-4 col-sm-6 col-xs-12">
    <div class="event-box">
        <h3>@Model.Title</h3>
        <span class="date">@Model.StartDateTime</span>
        @if (Model.Duration != null)
        {
            <span class="duration">(@Model.Duration@*.Value.ToString(@"hh\:mm") hours*@)</span>
        }
        @if (Model.Author != null)
        {
            <div class="author">Author: @Model.Author</div>
        }
        @if (Model.Location != null)
        {
            <div class="location">Location: @Model.Location</div>
        }



    </div>
    @Html.ActionLink("Show Details", "EventDetailsById", "Home", new { id = Model.Id }, new { @class = "btn btn-default" })
</div>
